@import "variables";
.component-card-main {
  box-sizing: border-box;
  width: 340px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;

  iframe {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgba(0, 0, 5, 0.72);
    border-radius: 10px;
  }
}
.component-card-cover {
  position: absolute;
  height: 100.1%;
  width: 100.1%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 3, 10);
  opacity: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  .component-card-info {
    opacity: 1;
  }
}
.component-card-cover:hover {
  opacity: 0.9;
}
.component-card-thumbnail {
  -ms-zoom: 0.65;
  -moz-transform: scale(0.65);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.65);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.65);
  display: flex;
}
.component-card-info {
  font-weight: 600;
  font-size: 34px;
  padding: 5px;
  color: @tertiary-color;
  max-width: 340px;
  opacity: 1;
}
.component-card-icons {
  z-index: 100;
  justify-self: center;
  display: flex;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.component-card-heart {
  color: rgb(202, 96, 114);
  transition: all 0.1s ease-in-out;
  margin-top: 1px;
  cursor: pointer;
}
.component-card-heart-outline {
  color: @tertiary-color;
  transition: all 0.1s ease-in-out;
  margin-top: 1px;
  cursor: pointer;
}
.component-card-heart-container {
  min-width: 70px;
  background-color: rgb(5, 4, 11);
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}

.component-card-heart-container:hover {
  background-color: rgb(93, 91, 107);

  .component-card-heart {
    transform: scale(1.2);
  }
}
.component-card-comment-container {
  min-width: 70px;
  background-color: rgb(5, 4, 11);
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.component-card-comment {
  color: @tertiary-color;
  transition: all 0.1s ease-in-out;
  margin-top: 1px;
}
.component-card-comment-container:hover {
  background-color: rgb(93, 91, 107);

  .component-card-comment {
    transform: scale(1.2);
  }
}
.component-card-save-container {
  min-width: 70px;
  background-color: rgb(5, 4, 11);
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.component-card-save {
  color: @tertiary-color;
  transition: all 0.1s ease-in-out;
  margin-top: 1px;
  cursor: pointer;
}
.component-card-saved {
  color: rgb(202, 96, 114);
  transition: all 0.1s ease-in-out;
  margin-top: 1px;
  cursor: pointer;
}
.component-card-save-container:hover {
  background-color: rgb(93, 91, 107);

  .component-card-save {
    transform: scale(1.2);
  }
}
.component-card-like-count {
  margin-left: 10px;
  font-size: 18px;
  color: white;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  pointer-events: none;
}
.component-card-comment-count {
  margin-left: 10px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  pointer-events: none;
}
.component-card-save-count {
  margin-left: 10px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  pointer-events: none;
}

.component-card-cover:hover + .component-card-icons {
  opacity: 1;
  transform: scale(1);
}

.component-card-outer {
  background-color: rgb(32, 33, 45);
  width: 360px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6px;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  flex-shrink: 1;
}
.component-card-outer:hover {
  background-color: rgb(49, 50, 62);
  transform: scale(1.03);
}
.component-card-type-container {
  display: flex;
}
.component-card-types {
  min-width: 60px;
  background-color: rgb(5, 4, 11);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  font-size: 18;
  font-family: "Inter", sans-serif;
  color: rgb(194, 194, 194);
  pointer-events: none;
}
