@import "variables";
body {
  background-color: rgb(9, 20, 26);
  overflow-x: hidden;
}
.mainPage-button-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-page-pagination-arrow-right {
  color: white;
  transition: all 0.2s ease-in-out;
}
.main-page-pagination-arrow-left {
  color: white;
  transition: all 0.2s ease-in-out;
}

.main-page-prev-button {
  width: 65px;
  height: 95px;
  display: flex;
  left: -40px;
  top: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  background-color: @background-color;
  border: 3px solid @tertiary-color;
  position: absolute;
  z-index: 50;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.main-page-prev-button:hover {
  opacity: 1;
  background-color: @tertiary-color;
  transform: scale(1.1);
  .main-page-pagination-arrow-right {
    color: @background-color;
  }
}

.main-page-next-button {
  width: 65px;
  height: 95px;
  top: 60px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  background-color: @background-color;
  border: 3px solid @tertiary-color;
  position: absolute;
  z-index: 100;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.main-page-next-button:hover {
  opacity: 1;
  background-color: @tertiary-color;
  transform: scale(1.1);
  .main-page-pagination-arrow-left {
    color: @background-color;
  }
}
.main-page-next-button:active {
  background-color: #9ed8ff;
}
.main-page-prev-button:active {
  background-color: #9ed8ff;
}
.main-page-wrapper {
  display: flex;
  background-color: rgb(9, 20, 26);

  .main-page-category-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    // margin: 20px 0 0 20px;
    line-height: 1;
    box-sizing: content-box;
    width: 380px;
    // position: fixed;
    z-index: 0;
  }
  .main-page-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4;

    .main-page-featured-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 250px;
      // margin: 20px 0 0 20px;
    }

    .leaderboard-user-title-container {
      display: flex;
      width: 100%;
    }

    .main-page-list-content-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      margin-top: 20px;

      .main-page-content-list-element {
        border: 1px solid gray;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 375px;
        margin: 30px 10px 10px 10px;
        background-color: lightgray;
      }
    }
  }
}

.mainPage-sort-container {
  color: white;
  font-size: 1.5rem;
  font-family: "Inter", "sans-serif";
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;

  select {
    font-size: 1.5rem;
    padding: 4px;
    background-color: rgb(32, 33, 45);
    border: none;
    color: @tertiary-color;
  }
}
