@import "variables";

.profile-wrapper {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: @background-color;

  .profile-picture-crown {
    position: absolute;
    z-index: 2;
    color: @tertiary-color;
    margin-top: 200px;
    margin-left: 160px;
    background-color: rgb(9, 20, 26);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-picture-crown-invis {
    opacity: 0;
  }
  .profile-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100%;
    margin-left: 50px;
    color: white;
    position: relative;

    .profile-edit-url {
      position: absolute;
      top: 100px;
      right: 0;
      background-color: @secondary-color;
      color: white;
      z-index: 99;
      padding: 20px;
      transition: ease 0.25s;
      animation: fadein 0.3s;
      border-radius: 0.5rem;

      .profile-x-button {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
      }

      button {
        border: none;
        background-color: @tertiary-color;
        color: white;
        padding: 4px;
      }
    }

    .profile-edit-image-button {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    .profile-picture {
      border: 2px solid white;
      border-radius: 50%;
      background-color: gray;
      min-height: 220px;
      min-width: 220px;
      margin: 30px 0 30px 0;
      overflow: hidden;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .profile-picture-crown {
      position: absolute;
      z-index: 2;
      color: @tertiary-color;
      // margin-top: 200px;
      // margin-left: 160px;
      // top: 100px;
      left: 100px;
      background-color: rgb(9, 20, 26);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .profile-picture-crown-invis {
      opacity: 0;
    }

    .profile-category-link-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .profile-category-link {
        display: flex;
        align-items: center;
        margin: 2px 0;
      }

      .location {
        margin: 5px 0 10px 0;

        svg {
          color: red;
          margin: 0 7px 0 0;
        }
      }
      .followers {
        svg {
          vertical-align: middle;
          margin: 0 5px 0 0;
          color: rgb(41, 231, 228);
        }
      }
      .following {
        svg {
          vertical-align: middle;
          margin: 0 5px 0 0;
          color: greenyellow;
        }
      }
      .favorited {
        svg {
          vertical-align: middle;
          margin: 0 5px 0 0;
          color: gold;
        }
      }
      .likes {
        svg {
          vertical-align: middle;
          margin: 0 5px 0 0;
          color: red;
        }
      }

      p {
        margin: 0;
      }

      hr {
        width: 100%;
        margin: 20px 0;
      }

      .inbox {
        display: flex;
        align-items: center;

        .my-inbox {
          svg {
            vertical-align: middle;
            margin: 0 5px 0 0;
            color: #b879ff;
          }
        }
      }

      .profile-new-component-button {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        font-size: 15px;
      }

      .profile-new-component-button:before {
        content: "";
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }

      .profile-new-component-button:active {
        color: #000;
      }

      .profile-new-component-button:active:after {
        background: transparent;
      }

      .profile-new-component-button:hover:before {
        opacity: 1;
      }

      .profile-new-component-button:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
      }

      @keyframes glowing {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }
    }
  }

  .profile-main-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .profile-user-extras-right {
      color: @secondary-color;
      display: flex;
      justify-content: center;
      height: 95%;
      flex: 1;
      border-radius: 5px;
      margin: 30px 30px 30px 15px;
      background: rgb(191, 213, 221);
      background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(227, 246, 255, 1) 100%
      );
      box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);
      -webkit-box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);
      -moz-box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);
    }

    .profile-user-info-container {
      color: @secondary-color;
      display: flex;
      justify-content: flex-start;
      flex: 0.5;
      width: 95%;
      height: 100%;
      border-radius: 5px;
      background: rgb(191, 213, 221);
      background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(227, 246, 255, 1) 100%
      );
      border-radius: 5px;
      box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);
      -webkit-box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);
      -moz-box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);

      h1 {
        display: flex;
        margin: 10px 10px 25px 10px;
      }

      .profile-user-email {
        margin: 0 0 10px 10px;

        svg {
          vertical-align: middle;
          margin: 0 10px 0 0;
        }
      }
      .profile-user-member-since {
        margin: 0 0 10px 10px;

        svg {
          vertical-align: middle;
          margin: 0 10px 0 0;
        }
      }
      .profile-user-name {
        margin: 0 0 10px 10px;

        svg {
          vertical-align: middle;
          margin: 0 10px 0 0;
        }
      }
      .profile-country-span {
        margin: 0 0 10px 10px;

        svg {
          vertical-align: middle;
          margin: 0 10px 0 0;
        }
      }

      .profile-new-component-button-container {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      .profile-user-info-left {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        // border-right: 1px solid @background-color;
      }
      .profile-user-info-right {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        margin: 0 0 0 10px;

        .profile-achievements {
          margin: 0 0 10px 0;

          svg {
            vertical-align: middle;
          }
        }

        h1 {
          display: flex;
          margin: 15px 10px 25px 0;
          font-size: 25px;
        }
      }
    }

    .profile-user-extras-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 100%;
      width: 100%;
      margin: 20px 0 0 30px;

      .profile-user-extras-left {
        color: @secondary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 95%;
        flex: 1;
        border-radius: 5px;
        margin: 20px 0 0 0;
        background: rgb(191, 213, 221);
        background: radial-gradient(
          circle,
          rgba(255, 255, 255, 1) 0%,
          rgba(227, 246, 255, 1) 100%
        );
        box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);
        -webkit-box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);
        -moz-box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);

        .profile-user-uploads {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 100%;

          .profile-user-single-upload {
            display: flex;
            align-items: center;
            width: 90%;
            height: 60px;
            border: 1px solid @secondary-color;
            border-radius: 5px;
            margin: 0 0 10px 0;
            background-color: rgba(15, 76, 117, 0.3);
            cursor: pointer;

            p {
              width: 100%;
              font-size: 17px;
            }

            .user-upload-image {
              img {
                // width: 50px;
                height: 35px;
                margin: 0 10px 0 10px;
              }
            }

            .single-user-upload-frameworks {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              width: 100%;
              margin: 0 10px 0 0;

              .single-user-upload-framework {
                // border: 1px solid @background-color;
                border-radius: 5px;
                background-color: @secondary-color;
                color: white;
                padding: 1px 5px 1px 5px;
                margin: 2px;
              }
            }
          }

          .profile-user-single-upload:hover {
            background-color: rgba(15, 76, 117, 0.5);
          }
        }
      }
    }
    .profile-user-extras-right {
      color: @secondary-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      flex: 1;
      border-radius: 5px;
      margin: 20px 20px 0 0;
      background: rgb(191, 213, 221);
      background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(227, 246, 255, 1) 100%
      );
      box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);
      -webkit-box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);
      -moz-box-shadow: 8px 10px 2px -4px rgba(0, 0, 0, 0.78);

      .profile-user-saved-components {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        .profile-user-single-saved {
          display: flex;
          align-items: center;
          width: 90%;
          height: 60px;
          border: 1px solid @secondary-color;
          border-radius: 5px;
          margin: 0 0 10px 0;
          background-color: rgba(15, 76, 117, 0.3);
          cursor: pointer;

          .single-user-saved-frameworks {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            margin: 0 10px 0 0;

            .single-user-saved-framework {
              // border: 1px solid @background-color;
              border-radius: 5px;
              background-color: @secondary-color;
              color: white;
              padding: 1px 5px 1px 5px;
              margin: 2px;
            }
          }

          p {
            width: 100%;
            font-size: 17px;
          }

          .user-saved-image {
            img {
              // width: 50px;
              height: 35px;
              margin: 0 10px 0 10px;
            }
          }
        }
        .profile-user-single-saved:hover {
          background-color: rgba(15, 76, 117, 0.5);
        }
      }
    }
  }
}
