@import 'variables';

@keyframes grow {
    from {scale: 0.1}
    to {scale: 1}
}

#singlecomp-root {
    background-color: @background-color;
    height: auto;
}

#singlecomp-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    div {
        color: @tertiary-color;
        margin-right: 20px;
        cursor: pointer;
        transition: 0.25s ease;
    }

    #singlecomp-heart {
        font-family: 'Inter', 'sans-serif';
        font-size: 3rem;
    }
}

.singlecomp-grow {
    animation-name: grow;
    animation-duration: 1s;
}

#singlecomp-editors {
    background-color: @background-color;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-family: monospace;
    width: 94%;
    padding: 20px 20px 30px 20px;

    @media only screen and (max-width:480px) {
        width: 90%;
    }
}

#singlecomp-html-editor, #singlecomp-css-editor, #singlecomp-javascript-editor, #singlecomp-less-editor, #singlecomp-sass-editor {
    max-width: 1000px;
    width: 100%;
    font-family: monospace;
    border: 1px solid @tertiary-color;
}

.singlecomp-hidden {
    display: none;
}

a.singlecomp-back {
    font-size: 2rem;
    text-decoration: none;
    color: @tertiary-color;
    font-family: 'Inter', 'sans-serif';

    div {
        margin: 20px;
        span {
            font-family: 'Inter', 'sans-serif'
        }
    }
}

#singlecomp-iframe{
    height: 40vh;
    margin: 20px;
    background-color: white;

    iframe {
        border: solid @tertiary-color 2px;
        margin: 0;
        height: 100%;
        width: 100%;
    }
}

#singlecomp-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;

    .singlecomp-clipboard {
        display: flex;
        width: 50px;
        height: 50px;
        background-color: white;
        margin-right: 20px;
        align-items: center;
        justify-content: center;
        border-radius: 10%;
        transition: 0.25s ease;
        img {
            height: 80%;
            width: 80%;
        }
    }

    .singlecomp-clipboard:hover {
        background-color: rgb(209, 209, 209);
        cursor: pointer;
    }
}

#singlecomp-buttons-box {
    display:flex;
    gap:0;
    max-width:1000px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 20px;
    position: static;

    button {
        min-width: 100px;
        height: 50px;
        font-family: 'Inter', 'sans-serif';
        background-color: @secondary-color;
        color: white;
        border: none;
        cursor: pointer;
        transition: 0.25s ease;

        @media only screen and (max-width: 480px) {
            min-width: 50px;
        }
    }

    button:hover {
        background-color:#1a6da4 ;
    }

    .singlecomp-pressed {
        background-color: @tertiary-color;
        color: white
    }

    .singlecomp-pressed:active {
        background-color: @tertiary-color;
    }
}

#singlecomp-color-picker {
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'sans-serif';
    color: @tertiary-color;
    justify-content: center;
    align-items: center;
    background-color: @secondary-color;
    border-radius: 0.25rem;
    margin: 20px;

    input {
        height: 100px;
        width: 200px;
    }
}

#singlecomp-userinfo {
    font-family: 'Inter', 'sans-serif';
    background-color: @secondary-color;
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    border-radius: 0.25rem;
    color: @tertiary-color;
    h1 {
        text-align: center;
    }
    a {
        text-decoration: none;
        margin: 10px;
        font-size: 1rem;
        color: @tertiary-color;
    }

}