.single-user-page-main-container {
    font-family: 'Inter', sans-serif;
    background-color:green;
    color: white;
    height: 90vh;
    width: 100vw;

    .single-user-page-title-container {
        background-color:maroon;
        display:flex;
        justify-content: center;

        .single-user-page-user-pic {

        }
        .single-user-page-user-name-rank-container {
            background-color:blue;
            .single-user-page-user-name {

            }
            .single-user-page-rank-achievements{

            }
        }
        .single-user-page-user-stats-container {
            background-color: rebeccapurple;
            display:flex;
            flex-direction: column;
        }
    }
    .single-user-page-search-container{
        display:flex;
        background-color:grey;
        justify-content: space-around;
        .single-user-page-search-bar{

        }
        .single-user-page-filter{

        }
    }
    .single-user-page-component-list-container{
        display:flex;
        flex-wrap:wrap;
        background-color:black;
        .single-user-page-single-component{
            background-color:blue;
            padding:8px;
            margin:8px;

        }
    }
}