html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#singlecomp-root {
  background-color: #062437;
  height: auto;
}
#singlecomp-editors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: monospace;
  width: 94%;
  padding: 20px 20px 0 20px;
}
@media only screen and (max-width: 480px) {
  #singlecomp-editors {
    width: 90%;
  }
}
#singlecomp-html-editor,
#singlecomp-css-editor,
#singlecomp-javascript-editor,
#singlecomp-less-editor,
#singlecomp-sass-editor {
  max-width: 1000px;
  width: 100%;
  font-family: monospace;
  border: 1px solid #47B5FF;
}
.singlecomp-hidden {
  display: none;
}
a.singlecomp-back {
  font-size: 2rem;
  text-decoration: none;
  color: #47B5FF;
  font-family: 'Inter', 'sans-serif';
}
a.singlecomp-back div {
  margin: 20px;
}
a.singlecomp-back div span {
  font-family: 'Inter', 'sans-serif';
}
#singlecomp-iframe {
  height: 40vh;
  margin: 20px;
  background-color: white;
}
#singlecomp-iframe iframe {
  border: solid #47B5FF 2px;
  margin: 0;
  height: 100%;
  width: 100%;
}
#singlecomp-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}
#singlecomp-buttons .singlecomp-clipboard {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: white;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  transition: 0.25s ease;
}
#singlecomp-buttons .singlecomp-clipboard img {
  height: 80%;
  width: 80%;
}
#singlecomp-buttons .singlecomp-clipboard:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}
#singlecomp-buttons-box {
  display: flex;
  gap: 0;
  max-width: 1000px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 20px;
  position: static;
}
#singlecomp-buttons-box button {
  min-width: 100px;
  height: 50px;
  font-family: 'Inter', 'sans-serif';
  background-color: #0F4C75;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
}
@media only screen and (max-width: 480px) {
  #singlecomp-buttons-box button {
    min-width: 50px;
  }
}
#singlecomp-buttons-box button:hover {
  background-color: #1a6da4;
}
#singlecomp-buttons-box .singlecomp-pressed {
  background-color: #47B5FF;
  color: white;
}
#singlecomp-buttons-box .singlecomp-pressed:active {
  background-color: #47B5FF;
}
#singlecomp-color-picker {
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'sans-serif';
  color: #47B5FF;
  justify-content: center;
  align-items: center;
  background-color: #0F4C75;
  border-radius: 0.25rem;
  margin: 20px;
}
#singlecomp-color-picker input {
  height: 100px;
  width: 200px;
}
#singlecomp-userinfo {
  font-family: 'Inter', 'sans-serif';
  background-color: #0F4C75;
  width: 300px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  border-radius: 0.25rem;
  color: #47B5FF;
}
#singlecomp-userinfo h1 {
  text-align: center;
}
#singlecomp-userinfo a {
  text-decoration: none;
  margin: 10px;
  font-size: 1rem;
  color: #47B5FF;
}
.login-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(150deg, #062437 0%, #011018 100%);
}
.login-main-container .login-signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 60vh;
  border-radius: 5px;
  background: #142c43;
  box-shadow: -20px -20px 34px #112539, 20px 20px 34px #17334d;
}
@media only screen and (max-width: 600px) {
  .login-main-container .login-signup-wrapper {
    flex-direction: column;
    width: 90vw;
    height: 90vh;
  }
}
.login-main-container .login-signup-wrapper .login-signup-form-container {
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  height: 100%;
  width: 100%;
  background-color: white;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-container-top {
  display: flex;
  flex: 0.7;
  align-items: center;
  flex-direction: column;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-container-top .login-form-container-social-buttons {
  display: flex;
  margin: 10px 0 0 0;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-container-top .loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  cursor: pointer;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-container-top .google {
  background-color: #df4930;
  border-radius: 50%;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-container-top .facebook {
  background-color: #4267B2;
  border-radius: 50%;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-container-top .github {
  background-color: black;
  border-radius: 50%;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-container-top h1 {
  margin: 40px 0 5px 0;
  color: #0F4C75;
  text-align: center;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-container-top small {
  margin: 30px 0 15px 0;
  font-weight: bold;
}
@media only screen and (max-width: 755px) {
  .login-main-container .login-signup-wrapper .login-signup-form-container .login-form-container-top h1 {
    font-size: 23px;
  }
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-center {
  width: 100%;
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-center .login-or {
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
  z-index: 1;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-center .login-line {
  height: 0.5px;
  width: 50%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-bottom {
  display: flex;
  width: 50%;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-bottom .login-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0 0;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-bottom .login-form input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin: 10px 0;
}
.login-main-container .login-signup-wrapper .login-signup-form-container .login-form-bottom .login-form button {
  margin: 10px 0;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  background-color: #47B5FF;
  cursor: pointer;
  font-size: 20px;
}
@media only screen and (max-width: 1000px) {
  .login-main-container .login-signup-wrapper .login-signup-form-container .login-form-bottom .login-form input {
    min-width: 175px;
  }
}
@media only screen and (max-width: 800px) {
  .login-main-container .login-signup-wrapper .login-signup-form-container .login-form-bottom .login-form button {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .login-main-container .login-signup-wrapper .login-signup-form-container {
    border-radius: 0;
  }
}
.login-main-container .login-signup-wrapper .login-signup-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0 5px 5px 0;
  flex: 1;
  height: 100%;
  width: 100%;
  background-image: url("/trianglify-lowres.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.login-main-container .login-signup-wrapper .login-signup-toggle-container h1 {
  font-size: 30px;
  color: white;
  text-align: center;
}
.login-main-container .login-signup-wrapper .login-signup-toggle-container small {
  margin: 20px;
  text-align: center;
}
.login-main-container .login-signup-wrapper .login-signup-toggle-container button {
  color: black;
  margin: 10px 0;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
}
@media only screen and (max-width: 900px) {
  .login-main-container .login-signup-wrapper .login-signup-toggle-container button {
    font-size: 15px;
  }
}
.signup-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(150deg, #062437 0%, #011018 100%);
}
.signup-main-container .signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 60vh;
  border-radius: 5px;
  background: #142c43;
  box-shadow: -20px -20px 34px #112539, 20px 20px 34px #17334d;
}
@media only screen and (max-width: 600px) {
  .signup-main-container .signup-wrapper {
    flex-direction: column;
    width: 90vw;
    height: 90vh;
  }
}
.signup-main-container .signup-wrapper .signup-form-container {
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  height: 100%;
  width: 100%;
  background-color: white;
}
@media only screen and (max-width: 600px) {
  .signup-main-container .signup-wrapper .signup-form-container {
    border-radius: 0;
  }
}
.signup-main-container .signup-wrapper .signup-form-container .signup-form-container-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.signup-main-container .signup-wrapper .signup-form-container .signup-form-container-top h1 {
  margin: 0;
  text-align: center;
  color: #0F4C75;
}
@media only screen and (max-width: 755px) {
  .signup-main-container .signup-wrapper .signup-form-container .signup-form-container-top {
    font-size: 12px;
  }
}
.signup-main-container .signup-wrapper .signup-form-container .signup-form-bottom {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
.signup-main-container .signup-wrapper .signup-form-container .signup-form-bottom .signup-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0 0;
}
.signup-main-container .signup-wrapper .signup-form-container .signup-form-bottom .signup-form input {
  width: 80%;
  height: 25px;
  border-radius: 5px;
  margin: 10px 0;
}
.signup-main-container .signup-wrapper .signup-form-container .signup-form-bottom .signup-form button {
  margin: 10px 0 0 0;
  width: 50%;
  min-width: 75px;
  height: 40px;
  border-radius: 10px;
  background-color: #47B5FF;
  cursor: pointer;
  font-size: 20px;
}
@media only screen and (max-width: 1000px) {
  .signup-main-container .signup-wrapper .signup-form-container .signup-form-bottom .signup-form input {
    min-width: 175px;
  }
}
@media only screen and (max-width: 901px) {
  .signup-main-container .signup-wrapper .signup-form-container .signup-form-bottom .signup-form button {
    font-size: 15px;
  }
}
.signup-main-container .signup-wrapper .signup-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0 5px 5px 0;
  flex: 1;
  height: 100%;
  width: 100%;
  background-image: url("/trianglify-lowres.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  .signup-main-container .signup-wrapper .signup-toggle-container {
    border-radius: 0;
  }
}
.signup-main-container .signup-wrapper .signup-toggle-container h1 {
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px black;
}
.signup-main-container .signup-wrapper .signup-toggle-container button {
  color: black;
  margin: 10px 0 0 0;
  width: 50%;
  min-width: 75px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
}
@media only screen and (max-width: 900px) {
  .signup-main-container .signup-wrapper .signup-toggle-container button {
    font-size: 15px;
  }
}
#createcomp-root {
  background-color: #062437;
  height: auto;
}
#createcomp-editors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: monospace;
  width: 94%;
  padding: 20px 20px 0 20px;
}
@media only screen and (max-width: 480px) {
  #createcomp-editors {
    width: 90%;
  }
}
#createcomp-html-editor,
#createcomp-css-editor,
#createcomp-javascript-editor,
#createcomp-less-editor,
#createcomp-sass-editor {
  max-width: 1000px;
  width: 100%;
  font-family: monospace;
  border: 1px solid #47B5FF;
}
.createcomp-hidden {
  display: none;
}
a.createcomp-back {
  font-size: 2rem;
  text-decoration: none;
  color: #47B5FF;
  font-family: "Inter", "sans-serif";
}
a.createcomp-back div {
  margin: 20px;
}
a.createcomp-back div span {
  font-family: "Inter", "sans-serif";
}
#createcomp-iframe {
  height: 40vh;
  margin: 20px;
  background-color: white;
}
#createcomp-iframe iframe {
  border: solid #47B5FF 2px;
  margin: 0;
  height: 100%;
  width: 100%;
}
#createcomp-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}
#createcomp-buttons .createcomp-clipboard {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: white;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  transition: 0.25s ease;
}
#createcomp-buttons .createcomp-clipboard img {
  height: 80%;
  width: 80%;
}
#createcomp-buttons .createcomp-clipboard:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}
#createcomp-buttons-box {
  display: flex;
  gap: 0;
  max-width: 1000px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 20px;
  position: static;
}
#createcomp-buttons-box button {
  min-width: 100px;
  height: 50px;
  font-family: "Inter", "sans-serif";
  background-color: #0F4C75;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
}
@media only screen and (max-width: 480px) {
  #createcomp-buttons-box button {
    min-width: 50px;
  }
}
#createcomp-buttons-box button:hover {
  background-color: #1a6da4;
}
#createcomp-buttons-box .createcomp-pressed {
  background-color: #47B5FF;
  color: white;
}
#createcomp-buttons-box .createcomp-pressed:active {
  background-color: #47B5FF;
}
#createcomp-color-picker {
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", "sans-serif";
  color: #47B5FF;
  justify-content: center;
  align-items: center;
  background-color: #0F4C75;
  border-radius: 0.25rem;
  margin: 20px;
}
#createcomp-color-picker input {
  height: 100px;
  width: 200px;
}
#createcomp-submission {
  font-family: "Inter", "sans-serif";
  background-color: #0F4C75;
  width: 300px;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  border-radius: 0.25rem;
  color: #47B5FF;
}
#createcomp-submission h2 {
  margin: 10px;
}
#createcomp-submission h1 {
  text-align: center;
}
#createcomp-submission div {
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
#createcomp-submission div input {
  font-size: 1.25rem;
  width: 90%;
}
#createcomp-submission div .createcomp-desc {
  height: 100px;
  width: 250px;
  word-wrap: break-word;
  font-family: "Inter", "sans-serif";
}
#createcomp-submission select {
  font-size: 1.25rem;
}
#createcomp-submission button {
  min-width: 100px;
  height: 50px;
  font-family: "Inter", "sans-serif";
  background-color: #47B5FF;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
}
#createcomp-submission button:hover {
  background-color: #1a6da4;
}
.main-page-main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(150deg, #062437 0%, #011018 100%);
}
.main-page-main-container .main-page-categories-container {
  background-color: #47B5FF;
  min-width: 250px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: -10px -10px 20px #112539;
}
.main-page-main-container .main-page-outer-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  background-color: #062437;
}
.main-page-main-container .main-page-outer-component-container .main-page-single-featured-component {
  display: inline-flex;
  flex-direction: column;
  margin: 5px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  background-color: #47B5FF;
}
.main-page-main-container .main-page-outer-component-container .main-page-listed-component-container {
  width: 90vw;
  min-height: 70vh;
  max-height: 70vh;
  position: relative;
}
.main-page-main-container .main-page-outer-component-container .main-page-listed-component-container .main-page-single-component-container {
  display: inline-flex;
  flex-direction: column;
  margin: 5px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  box-shadow: -10px -10px 20px #112539, 20px 20px 34px #17334d;
  background-color: #47B5FF;
}
.main-page-main-container .main-page-outer-component-container .main-page-listed-component-container .main-page-single-component-container .main-page-single-component-img {
  display: flex;
}
.main-page-main-container .main-page-outer-component-container .main-page-listed-component-container .main-page-single-component-container .main-page-single-component-title {
  display: flex;
}
.main-page-main-container .main-page-outer-component-container .main-page-listed-component-container .main-page-single-component-container .main-page-single-component-description {
  display: flex;
}
